@model IEnumerable<DCOEC.Models.Treatment>

@{
    ViewData["Title"] = ViewBag.FarmName;
}

<h2>Showing Treaments of {@ViewBag.FarmName} Farm</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                  
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @*<th>
                    From Fertilizer Name (Calculated)
                   
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Moisture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Yield)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Plot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plot.Farm)
            </th>*@
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Index", "DCTreatmentFertilizers", new { treatmentID = item.TreatmentId})
                
            </td>
            @*<td>
                @foreach (var x in item.TreatmentFertilizer.OrderBy(x => x.FertilizerName))
                {

                    @x.FertilizerName;
                    
                    {
                        <span>+</span>

                    }

                }
                @if (item.TreatmentFertilizer is null)
                {
                <span>no fertilizer</span>

                }

            </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.Moisture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yield)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Plot.PlotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plot.Farm.Name)
                
            </td>*@

            <td>
                <a asp-action="Edit" asp-route-id="@item.TreatmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TreatmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TreatmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @Html.ActionLink("Back To Plots", "Index", "DCPlots")
</div>
